.centerAlign{
  /* -webkit-align-items: center; 
  align-items: center; */
  /* top: 50% !important; */
  position: relative !important;
  margin-top: 9%;
  left: 0% !important;
  background-color: transparent;
}

.centerAlign2{
  /* -webkit-align-items: center; 
  align-items: center; */
  /* top: 20% !important; */
  position: relative !important;
  margin-top: 5%;
  left: 0% !important;
}

.centerAlign3{
  /* -webkit-align-items: center; 
  align-items: center; */
  /* top: 20% !important; */
  position: relative !important;
  margin-top: 9%;
  left: 0% !important;
}


.cardCenterAlign{
  /* -webkit-align-items: center;
  align-items: center;
  bottom: 30% !important; */
  /* top: 20% !important; */
  position: relative !important;
  margin-top: 10%;
  left: 0% !important;
}


.loginSignupAlign{
    margin-top: 2%;
    /* right: 0% !important; */
    left: 35% !important; 
    position: relative !important;

}

.sidePannelul{
    text-align: left;
  }

.sidePaper{
    color: yellow !important;
}

.templateCard{
    margin-top: 3% !important;
}

.dropShift{
    /* left: 159%;
    margin-bottom: 2% !important; */

}


.footerLinkColor{
  color: cyan
}

.bookMargin{
  font-family: 'Cinzel', serif !important;
  color: black;
}

/* .description{
  margin-left: '20%' !important;
} */

.textField {
  margin-left: '10%';
  margin-right: '10%';
}

/* .confirm{
  padding: '20%';
  width: '50%'
} */

.main_page{
  filter: brightness(50%);
  /*width: 100%;
  height: 700px;
  object-fit: contain;*/
/* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

}

.loginAlign{
  margin-right: 5% !important;

}

/* .outerBorder{
   position: relative; 
  overflow: hidden;
}

.innerBorder{
   position: absolute; 
  overflow-x: hidden;
  overflow-y: hidden;

}

.content, .outerBorder{
  width: auto;
  
} */

.scroll{
  width: 200px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.scrollCard{
  width: 900px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* 
html {
  overflow-y: scroll;
} */

/* Link:hover{
  zoom: 10;
} */


.rating1 {
  unicode-bidi: bidi-override;
  direction: rtl;
  zoom : 2;
  color: yellow;
}
.rating1 > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating1 > span:before,
.rating1 > span ~ span:before {
   content: "\2605";
   position: absolute;
   color: yellow;
}

.profile{
  width: '30%';
  height: '30%'
}




/* .rating2 {
  unicode-bidi: bidi-override;
  direction: rtl;
  zoom : 2;
}
.rating2 > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating2 > span:hover:before,
.rating2 > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: yellow;
} */

.search-bar-styles{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    border: hidden;
    border-radius: 10px 0px 0px 10px;
    padding-left: 15%;
    padding-bottom: 1%;
    padding-top: 1%
}



