.centerAlign{
  -webkit-align-items: center; 
  align-items: center;
  bottom: 50% !important;

}

.cardCenterAlign{
  -webkit-align-items: center;
  align-items: center;
  bottom: 30% !important;

}


.loginAlign{
    top: 0%;
    right: 0% !important;
    left: 85% !important;
}

.sidePannelul{
    text-align: left;
  }

.sidePaper{
    color: yellow !important;
}

.templateCard{
    margin-top: 3% !important;
}

.dropShift{
    left: 159%;
    margin-bottom: 2% !important;

}


.footerLinkColor{
  color: cyan
}